<div ng-controller="HomeCtrl">

    <div class="page-section row col-xs-12 center-xs">
        <accordion class="col-xs-10 start-xs" animate="false">
            <accordion-title>
                <span class="text-bold">{{labels.HELP}}</span>
            </accordion-title>
            <accordion-body>
                <i class="fa fa-life-ring fa-5x gray-floating-icon" aria-hidden="true"></i>
                <span ng-bind-html="helpContent"></span>
            </accordion-body>
        </accordion>
    </div>

    <div class="page-section col-xs-12 row center-xs">
        <div class="col-xs-10 start-xs">
            <h1>{{labels.USER_REGISTRATION}}</h1>
            <user-form user="biker" on-submit="addNewBiker()" on-cancel="clearBiker()"></user-form>
        </div>
    </div>

    <div class="page-section row center-xs">
        <div class="col-xs-10 start-xs">
            <h1>{{labels.BIKERS}}</h1>
            <grid options="bikersGridOptions"></grid>
        </div>
    </div>
</div>