<div>
    <form name="userForm" class="row start-xs">
        <div class="col col-xs-5">
            <div class="col">
                <label class="row col-xs">{{labels.FULL_NAME}}</label>
                <input name="fullName" type="text" ng-model="user.fullName" ng-maxlength="maxlength" required/>
            </div>
            <div class="col">
                <label class="row col-xs">{{labels.EMAIL}}</label>
                <input name="email" type="text" ng-model="user.email" ng-maxlength="maxlength" required/>
            </div>
            <div class="col">
                <label class="row col-xs">{{labels.CITY}}</label>
                <input name="city" type="text" ng-model="user.city" ng-maxlength="maxlength" />
            </div>
        </div>

        <!-- Seven columns, one for each day of the week -->
        <div class="col col-xs-7">
            <!-- I included a new label for the question because it can change from language to language -->
            {{labels.RIDE_IN_GROUP_QUESTION}}
            <div class="row col-xs-12">
                <div>
                    <input name="rideInGroup" type="radio" ng-model="user.rideInGroup" ng-value="labels.ALWAYS" equired/>
                    <label>{{labels.ALWAYS}}</label>
                </div>
                <div>
                    <input name="rideInGroup" type="radio" ng-model="user.rideInGroup" ng-value="labels.SOMETIMES" required/>
                    <label>{{labels.SOMETIMES}}</label>
                </div>
                <div>
                    <input name="rideInGroup" type="radio" ng-model="user.rideInGroup" ng-value="labels.NEVER" required/>
                    <label>{{labels.NEVER}}</label>
                </div>
            </div>

            {{labels.DAYS_OF_THE_WEEK}}
            <div class="row col-xs-12">
                <div ng-repeat="day in localDaysOfTheWeek">
                    <input name="daysOfTheWeek" type="checkbox" ng-model="user.daysOfTheWeek[$index]" required/>
                    <label>{{day}}</label>
                </div>
            </div>
        </div>
    </form>
</div>