/* A css file exclusive for directives */
@import "default-config.scss";
@import "general.scss";

html, body
{
    height: 100%;
}

.grid-table {
    border-collapse: collapse;
    width: 100%;
}

.grid-table th {
    background-color: $accent-color;
    color: $primary-color;
    height: 42px;
    font-size: 12px;
}

.grid-table th,
.grid-table td {
    padding: 10px;
    text-align: left;
}

.grid-table tr:nth-child(even) {
    background: $light-color
}

.grid-table tr:hover {
    background: $accent-sub-color
}

.row.empty {
   min-height: 20px;
}

.accordion-toggle {
    cursor: pointer;
    transition: 0.4s;
}

.accordion-body.closed {
    display: none;
}

.accordion-body.open {
    display: block;
}

/*anmimated class can be toggled on or off easily*/
.accordion-body.animated {
    display: block !important;
    -moz-transition: $transition-time;
    -ms-transition: $transition-time;
    -o-transition: $transition-time;
    -webkit-transition: $transition-time;
    transition: $transition-time;
}

.accordion-body.animated.closed {
    height:0px; 
    overflow: hidden;
}

.accordion-body.animated.open {
    height:100px;
    overflow: hidden;
}