//Main SCSS Configuration File. All css constants should be defined here in order to facilitate manteinance

$primary-color: #FFFFFF;
$accent-color: #34A010;
$accent-sub-color: #C5DFBC;
$light-color: #F0F0F0;
$grey-color: #DCDCDC;