//Main SCSS Configuration File. All css constants should be defined here in order to facilitate manteinance

$primary-color: #FFFFFF;
$accent-color: #34A010;
$accent-sub-color: #C5DFBC;
$light-color: #F0F0F0;
$grey-color: #EFEFEF;
$grey-border-color: #e5e5e5;
$heavy-grey-color: #999999;

$transition-time: 300ms;