/* A css file exclusive for general rules like fonts */ 
@import "default-config.scss";
@import url(node_modules/font-awesome/css/font-awesome.min.css);

html
{
   font-family: Arial;
}

.text-bold {
    font-weight: bold;
}

.text-secondary {
    font-size: 14px;
    color: $heavy-grey-color;
}

.text-left {
    text-align: left;
}

.text-middle {
    vertical-align: middle
}

.float-left {
    float: left;
}

input {
    padding: 7px 10px;
    margin: 8px 0px;
}

input[type=text] {
    width: 100%;
    border: 2px solid $grey-border-color;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    border: 2px solid $accent-color;
}

input[type=button] {
    background-color: $grey-border-color;
    color: black
}

input[type=submit] {
    background-color: $accent-color;
    color: $primary-color;
}

input[type=submit],
input[type=button] {
    font-weight: bold;
    padding: 10px 8px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox] { display:none; }
checkbox {
    margin-right: 10px; 
}
.checkbox-border {
    color: $grey-border-color;
}

.checked { 
    color: $accent-color;
}