/* A css file exclusive for general rules like fonts */ 
@import "default-config.scss";

html
{
   font-family: Arial;
}

.text-bold {
    font-weight: bold;
}

.text-secondary {
    font-size: 14px;
    color: $heavy-grey-color;
}

.text-left {
    text-align: left;
}

.text-middle {
    vertical-align: middle
}

.float-left {
    float: left;
}