<div class="row between-xs middle-xs accordion-bar">
    <span class="col-xs-11" ng-transclude="title"></span>
    <span class="col-xs-1 end-xs">
                                                                    <!-- The fa-long-arrow-xxxx icons weren't mentioned in the specification. -->
        <span class="accordion-toggle" ng-show="!isOpen" ng-click="open()">{{labels.OPEN}}  <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>
        <span class="accordion-toggle" ng-show="isOpen" ng-click="close()">{{labels.CLOSE}}  <i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
    </span>
</div>
<div class="accordion-body" ng-transclude="body" ng-class="{'open': isOpen, 'closed': !isOpen, 'animated': animate}">
</div>